.jumbotron {
  text-align: center;
  background-color: #335441;
  color: white;
}

button {
  width: 100px;
}

.dropdown,
form.form-inline {
  margin-right: 5px;
}

.dropdown,
form.form-inline {
  display: inline-block;
}

form.form-inline {
  vertical-align: bottom;
}

.container {
  margin-bottom: 32px;
}

.col-sm {
  text-align: center;
}